* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header-1 {
    background: linear-gradient(to top, rgb(25, 4, 32), rgb(11, 0, 13));
    width: 100%;
    min-height: 85vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content {
    padding-left: 200px;
    width: 50%;
}

h1 {
    color: white;
    font-family: sans-serif;
}

h2 {
    color: white;
    font-family: sans-serif;
}

.img {
    width: 50%;
    padding-left: 80px;
    animation-name: jain;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes jain {
    from {
        top: 0px;
    }

    to {
        top: 80px;
        left: 0;
    }
}

img {
    width: 300px;
    height: 300px;
    border: 8px solid rgb(244, 136, 5);
    border-radius: 200px;
}



/* btn */
.btn {
    margin-top: 50px;
}

.btn .btn-1 {
    /* background-color: aqua; */
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    font-family: 'Mulish', sans-serif;
    font-weight: bolder;
    border: 3px solid rgb(244, 136, 5);
    color: white;
    transition: all 0.2s;
    margin: 5px;
    box-shadow: 5px 3px 5px orange;

}


.btn .btn-1:hover {
    background-color: rgb(244, 136, 5);
    box-shadow: 5px 3px 5px orange;
}


/* social */

.social {
    margin-top: 60px;
}

.social-1 {
    border: 3px solid rgb(244, 136, 5);
    border-radius: 10px;
    padding: 10px;
    color: white;
    margin: 10px;
    transition: all 0.2s;
}

.social-1:hover {
    background-color: rgb(244, 136, 5);
    box-shadow: 5px 1px 5px orange;
}

/* shape divider css */
.custom-shape-divider-bottom-1689453602 {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1689453602 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
}

.custom-shape-divider-bottom-1689453602 .shape-fill {
    fill: rgb(255, 255, 255);
}